/* --------------------------------------------------------------
   Nails Custom Forms Module Admin Styles
-------------------------------------------------------------- */

.group-custom-forms {
    &.browse {
        table {
            th.id,
            td.id {
                width: 75px;
                text-align: center;
            }

            th.actions,
            td.actions {
                width: 280px;
            }
        }
    }

    &.responses {
        table {
            th.actions,
            td.actions {
                width: 150px;
            }
        }

        &.single {
            table {
                td.number {
                    width: 50px;
                    text-align: center;
                }
            }
        }
    }
}
