parameters:
    level: 5
    paths:
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
    scanFiles:
        - ../vendor/codeigniter/framework/system/helpers/url_helper.php
        - ../vendor/nails/common/helpers/date.php
        - ../vendor/nails/common/helpers/language.php
        - ../vendor/nails/common/helpers/url.php
        - ../vendor/nails/common/src/Common/CodeIgniter/Core/Common.php
        - ../vendor/nails/module-admin/helpers/permission.php
        - ../vendor/nails/module-form-builder/helpers/formbuilder.php